rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for the users collection
    match /users/{userId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }

    // Rules for the bookings collection
    match /bookings/{bookingId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }
  }
}
